@import "../../styles/variables";
.list-user {
  position: relative;
  top: 50px;

  &-heading {
    justify-content: center;
  }

  &__container {
    display: flex;
    padding: 12px 120px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .user__item {
      margin: 0 1rem 2rem 1rem;
      text-align: center;
      border-radius: 3px;
      background-color: $color-deep-white;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      width: calc(100% / 3);
      padding-bottom: 16px;
      cursor: pointer;

      &-img {
        display: inline-block;
        max-width: 100%;
      }

      &-email {
        font-size: 16px;
      }

      &-name {
        font-size: 20px;
      }
    }
  }
}
